modules = ["python-3.11"]
[agent]
expertMode = true

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Quantum Research Cycle C37"

[[workflows.workflow]]
name = "git fetch "
mode = "sequential"
author = 54178035

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "git fetch origin git reset --hard origin/main"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python3 -m gunicorn --bind 0.0.0.0:5000 --reuse-port --reload main:app"
waitForPort = 5000

[[workflows.workflow]]
name = "Quantum Research Cycle C37"
author = "agent"

[workflows.workflow.metadata]
outputType = "console"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd src/advanced_calculations/quantum_problem_hubbard_hts && bash run_research_cycle.sh"

[nix]
packages = ["arrow-cpp", "cairo", "clang", "doppler", "ffmpeg-full", "file", "freetype", "gcc", "gdb", "ghostscript", "glib", "glibc", "glibcLocales", "gnumake", "gobject-introspection", "got", "gtk3", "kaggle", "lcms2", "libGL", "libGLU", "libimagequant", "libjpeg", "libtiff", "libwebp", "libxcrypt", "nano", "openjpeg", "openssh", "openssl", "pkg-config", "postgresql", "qhull", "rsync", "tcl", "tk", "tree", "vim-full", "xsimd", "zlib"]
channel = "stable-25_05"

[deployment]
deploymentTarget = "autoscale"
run = ["gunicorn", "--bind", "0.0.0.0:5000", "main:app"]
build = ["make", "clean", "all"]

[userenv]

[userenv.shared]
KAGGLE_API_TOKEN = "KGAT_5fcd05f27636ded50a5c8053f13da836"
KAGGLE_USERNAME = "ndarray2000"
KAGGLE_CONFIG_DIR = "/home/runner/.kaggle"

[userenv.development]
ARISTOTLE_API_KEY = "arstl_YykBEXr6oNR5R9toq_wI1wTtyfVrj5eUZfgpe_BlgYo"
SUPABASE_ANON_KEY = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im13ZGVxcGZ4YmNkYXlhZWx3cWh0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQyODQzNzEsImV4cCI6MjA4OTg2MDM3MX0.BIqmkgVngljtERZhiZxTLt2TmpLOtk5qWjAhpFDafos"
SUPABASE_DB_HOST = "db.mwdeqpfxbcdayaelwqht.supabase.co"
SUPABASE_DB_NAME = "postgres"
SUPABASE_DB_PASSWORD = " @Pass20262027"
SUPABASE_DB_PORT = "5432"
SUPABASE_DB_USER = " postgres"
SUPABASE_SERVICE_ROLE_KEY = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im13ZGVxcGZ4YmNkYXlhZWx3cWh0Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDI4NDM3MSwiZXhwIjoyMDg5ODYwMzcxfQ.5LfZB5mYcW9j7rfX8hAAgQ009sTdv9DfaJ_wr03bj3s"
SUPABASE_SERVICE_ROLE_KEY_GENERALLe = "N8ahCt20bV0zALIk0+9UZFI2G4ZZ5wVegkXhEN0536eCTP19Jbr/b4mkUItlsKtf1Rt+oqQqdo9iHDZzWnvHjQ=="
SUPABASE_URL = "postgresql://postgres:%40Pass20262027@db.mwdeqpfxbcdayaelwqht.supabase.co:5432/postgres"
SUPABASE8_API_URL = "https://mwdeqpfxbcdayaelwqht.supabase.co"
DOPPLER_TOKEN = "dp.st.dev_lvxdoppler.ubG5XBRuejZF3lpYpn9oq2R644cJmD46PCY4UFQxLqQ"

[userenv.production]
ARISTOTLE_API_KEY = "arstl_YykBEXr6oNR5R9toq_wI1wTtyfVrj5eUZfgpe_BlgYo"
SUPABASE_ANON_KEY = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im13ZGVxcGZ4YmNkYXlhZWx3cWh0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQyODQzNzEsImV4cCI6MjA4OTg2MDM3MX0.BIqmkgVngljtERZhiZxTLt2TmpLOtk5qWjAhpFDafos"
SUPABASE_DB_HOST = "db.mwdeqpfxbcdayaelwqht.supabase.co"
SUPABASE_DB_NAME = "postgres"
SUPABASE_DB_PASSWORD = " @Pass20262027"
SUPABASE_DB_PORT = "5432"
SUPABASE_DB_USER = " postgres"
SUPABASE_SERVICE_ROLE_KEY = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im13ZGVxcGZ4YmNkYXlhZWx3cWh0Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDI4NDM3MSwiZXhwIjoyMDg5ODYwMzcxfQ.5LfZB5mYcW9j7rfX8hAAgQ009sTdv9DfaJ_wr03bj3s"
SUPABASE_SERVICE_ROLE_KEY_GENERALLe = "N8ahCt20bV0zALIk0+9UZFI2G4ZZ5wVegkXhEN0536eCTP19Jbr/b4mkUItlsKtf1Rt+oqQqdo9iHDZzWnvHjQ=="
SUPABASE_URL = "postgresql://postgres:%40Pass20262027@db.mwdeqpfxbcdayaelwqht.supabase.co:5432/postgres"
SUPABASE8_API_URL = "https://mwdeqpfxbcdayaelwqht.supabase.co"
DOPPLER_TOKEN = "dp.st.dev_lvxdoppler.ubG5XBRuejZF3lpYpn9oq2R644cJmD46PCY4UFQxLqQ"

[[ports]]
localPort = 5000
externalPort = 80
